@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}
@{
    ViewData["Title"] = "Sign In";
}
<h1>Game Dashboard</h1>
<br />
<a asp-controller="game" asp-action="new"><button>New Game</button></a>
<br />
<h2>My DM Games</h2>
@foreach (var game in ViewBag.DMGames)
{
    <a href="Game/View/@game.id">@game.name</a>
    <br />
}
<h2>My Player Games</h2>
@foreach (var game in ViewBag.PlayerGames)
{
    <a href="Game/View/@game.gameid">@game.gamename</a>
    <br />
}
<h2>My Invites</h2>
@foreach (var invite in ViewBag.Invites)
{
    @invite.userusername <span>invited you to join</span> <a href="Game/view/@invite.gameid">@invite.gamename</a>
    @*<form action="PlayableCharacter/New" method="post">*@
    <button type="submit" class="acceptInvite" name="gamesusersid" value="@invite.id">Accept</button>
    @*</form>*@

    <form action="Game/Decline" method="post">
        <button type="submit" class="declineInvite" name="id" value="@invite.id">Decline</button>
    </form>
    <br />
}