@page
@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}
@{
}
<h1> @ViewBag.Game.name </h1>
@if (ViewBag.DM.id == ViewBag.id)
{
    <h3>Invite Players:</h3>
    <form action="../Invite" method="post">
        <label for="name">Player Name</label>
        <input type="hidden" name="id" value="@ViewBag.Game.id">
        <input type="text" name="username" required="" autofocus="" />
        <input type="submit" value="Invite" />
    </form>

    <br />

    <form action="../../NonPlayableCharacter/New" method="get">
        <input type="hidden" name="gameid" value="@ViewBag.Game.id" />
        <input type="hidden" name="dmid" value="@ViewBag.DM.id" />
        <input type="submit" value="Add NPC to Game" />
    </form>

    <br />

    <h3>NPCs in Game:</h3>
    @foreach (NonPlayableCharacter character in ViewBag.NPCs)
    {
        @character.name
        <br />
    }
}

<br />
@ViewBag.Message
<h3> Dungeon Master </h3>
@ViewBag.DM.username
<h3> Players </h3>

<div id="acceptedPlayers">
    @foreach (var user in ViewBag.Users)
    {
        <p>
            @user.userusername <span> playing as </span> <a href="../../PlayableCharacter/View/@user.playablecharacterid">@user.playablecharactername</a>
        </p>
    }
</div>

<h3> Pending Players </h3>
<div id="pendingPlayers">
    @foreach (var user in ViewBag.PendingUsers)
    {
        <p>
            @user.userusername
        </p>
    }
</div>
