@{
    ViewData["Title"] = ViewBag.Game.name;
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}

<h1> @ViewBag.Game.name </h1>

@if (ViewBag.DM.id == ViewBag.UserID)
{
    <h2>Interactions</h2>

    <form action="../../Battle/Create" method="post">
        <input type="hidden" name="gameid" value="@ViewBag.Game.id" />
        <select name="npcId">
            @foreach (var npc in ViewBag.NPCs)
            {
                <option value="@npc.id">@npc.name</option>
            }
        </select>
        <input type="submit" value="Start Battle" />
    </form>

    <form action="../../Merchant/Create" method="post">
        <input type="hidden" name="gameid" value="@ViewBag.Game.id" />
        <input type="submit" value="Open Shop" />
    </form>

    <h2>Invite Players</h2>

    <form action="../Invite" method="post">
        <input type="hidden" name="id" value="@ViewBag.Game.id">
        <input type="text" name="inviteeUsername" required="" autofocus="" placeholder="Player Name" />
        <input type="submit" value="Invite" />
    </form>

    @ViewBag.Message

    <h3>NPCs</h3>

    <form action="../../NonPlayableCharacter/New" method="get">
        <input type="hidden" name="gameid" value="@ViewBag.Game.id" />
        <input type="hidden" name="dmid" value="@ViewBag.DM.id" />
        <input type="submit" value="Generate NPC" />
    </form>

    @foreach (NonPlayableCharacter character in ViewBag.NPCs)
    {
        <a href="../../NonPlayableCharacter/View/@character.id">@character.name</a><br />
    }
}

<h3>Game Master</h3>

@ViewBag.DM.username

<h3>Players</h3>

<div id="acceptedPlayers">
    @foreach (var user in ViewBag.AcceptedUsers)
    {
        <p>@user.userusername playing as <a href="../../PlayableCharacter/View/@user.playablecharacterid">@user.playablecharactername</a></p>
    }
</div>

<h3>Pending Players</h3>

<div id="pendingPlayers">
    @foreach (var user in ViewBag.PendingUsers)
    {
        <p>@user.userusername</p>
    }
</div>

<div id="gameid" style="display: none">@ViewBag.Game.id</div>