@{
    ViewData["Title"] = "Merchant";
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}

<div>
    @ViewBag.Message
</div>

<h1>Merchant</h1>

@if (@ViewBag.Merchant.dmId != @ViewBag.LoggedInUserID)
{
    <h2>Balance</h2>

    <p><span id="balance">@ViewBag.Balance</span> Gold Coins</p>
}

<h2>Merchant Inventory</h2>

<table style="width: 100%">
    <tr>
        <th>Item</th>
        <th>Name</th>
        <th>Type</th>
        <th>Healing Factor</th>
        <th>Attack Strength</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var item in @ViewBag.MerchantWares)
    {
        if (item.itemType != "Money")
        {
            <tr>
                <td>@item.imagePath</td>
                <td>@item.itemName</td>
                <td>@item.itemType</td>
                <td>@item.healingFactor</td>
                <td>@item.attack</td>
                <td>@item.monetaryValue</td>
                <td>
                    @if (@ViewBag.Merchant.dmId != @ViewBag.LoggedInUserID)
                    {
                        <form action="/Merchant/Purchase" method="post">
                            <input type="hidden" name="gameId" value="@ViewBag.gameid" />
                            <input type="hidden" name="itemId" value="@item.id" />
                            <input type="hidden" name="characterId" value="@ViewBag.player.id" />
                            <input type="submit" value="Buy" />
                        </form>
                    }
                </td>
            </tr>
        }
    }
</table>

@if (ViewBag.Merchant.dmId != ViewBag.LoggedInUserID)
{
    <h2>Player Inventory</h2>

    <table style="width: 100%">
        <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Type</th>
            <th>Healing Factor</th>
            <th>Attack Strength</th>
            <th>Quantity</th>
        </tr>

        @foreach (var item in @ViewBag.Inventory)
        {
            if (item.itemType != "Money")
            {
                <tr>
                    <td>@item.imagePath</td>
                    <td>@item.itemName</td>
                    <td>@item.itemType</td>
                    <td>@item.healingFactor</td>
                    <td>@item.attack</td>
                    <td>@item.quantity</td>
                </tr>
            }
        }
    </table>
}

@if (ViewBag.Merchant.dmId == ViewBag.LoggedInUserID)
{
    <form action="../../Merchant/End" method="post">
        <input type="hidden" name="gameid" value="@ViewBag.gameid" />
        <input type="submit" value="Close Shop" />
    </form>
}

<div id="gameid" style="display: none">@ViewBag.gameid</div>