@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}

<h1>Battle Crap</h1>
DM ID = @ViewBag.Battle.dmId
<br />
Game ID = @ViewBag.Battle.gameId
<br />
Current Player ID = @ViewBag.Battle.currentPlayerId
<br />
<h2>NPC</h2>
NPC Name = @ViewBag.Battle.NPC.name
NPC Current HP = @ViewBag.Battle.NPC.currentHp
NPC Max HP = @ViewBag.Battle.NPC.maxHp
NPC Attack = @ViewBag.Battle.NPC.attack
<img src="@ViewBag.Battle.NPC.imagePath" />

<h2>Players</h2>
@foreach (var player in ViewBag.Battle.players)
{
    <span>Player Name =</span> @player.name
    <br />
    <span>Player Current HP =</span> @player.currentHp
    <br />
    <span>Player Max HP =</span> @player.maxHp
    <br />
    <span>Player Attack =</span> @player.attack
    <br />
    <img src="@player.imagePath" />
}

<form action="../../Battle/End" method="post">
    <input type="hidden" name="gameid" value="@ViewBag.gameid" />
    <input type="submit" value="End Battle" />
</form>

<div id="gameid" style="display: none">@ViewBag.gameid</div>