@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dndhub.js"></script>
}

<h1>Battle!</h1>

<h2>Enemy: @ViewBag.Battle.NPC.name</h2>
<img src="@ViewBag.Battle.NPC.imagePath" />
<br />
Health: @ViewBag.Battle.NPC.currentHp / @ViewBag.Battle.NPC.maxHp
<br>
Attack: @ViewBag.Battle.NPC.attack

<h2>Players:</h2>
<br />
@foreach (var player in ViewBag.Battle.players)
{
    <h2>@player.name</h2>
    <br />
    <img src="@player.imagePath" />
    <br />
    <span>Health: </span> @player.currentHp <span>/</span> @player.maxHp
    <br />
    <span>Attack: </span> @player.attack
    <br />
}

<form>
    <input type="submit" value="Attack!" />
</form>

<form action="../../Battle/End" method="post">
    <input type="hidden" name="gameid" value="@ViewBag.gameid" />
    <input type="submit" value="End Battle" />
</form>

<div id="gameid" style="display: none">@ViewBag.gameid</div>