@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/battle.js"></script>
}

<h1>Battle!</h1>

<h2>Enemy: <span class="enemyName"></span></h2>
<img id="enemyImage" src="" />
<br />
Health: <span id="enemyCurrentHp"></span> / <span id="enemyMaxHp"></span>
<br>
Attack: <span id="enemyAttack"></span>

<h2>Players:</h2>
<br />
@foreach (var player in ViewBag.Battle.players)
{
    <h2 class="@player.id-name"></h2>
    <br />
    <img id="@player.id-image" src="" />
    <br />
    <span>Health:</span> <span id="@player.id-currentHp"></span> <span>/</span> <span id="@player.id-maxHp"></span>
    <br />
    <span>Attack:</span> <span id="@player.id-attack"></span>
    <br />
}

@if (ViewBag.Battle.dmId == ViewBag.LoggedInUserID)
{
    <select id="npcAttack">
        @foreach (var player in ViewBag.Battle.players)
        {
            <option class="@player.id-name" value="@player.id"></option>
        }
    </select>
    <button id="npcAttackButton" type="submit">Attack!</button>

    <form action="../../Battle/End" method="post">
        <input type="hidden" name="gameid" value="@ViewBag.gameid" />
        <input type="submit" value="End Battle" />
    </form>
}

<div id="playerAttack" style="display:none">
    @if (ViewBag.Battle.dmId != ViewBag.LoggedInUserID)
    {
        <button id="playerAttackButton">Attack <span class="enemyName"></span>!</button>
    }
</div>

<div id="gameid" style="display: none">@ViewBag.gameid</div>
<div id="jsonBattle" style="display: none">@ViewBag.jsonBattle</div>
<div id="loggedInUserId" style="display:none">@ViewBag.LoggedInUserID</div>