@page
@{
}

<h1> @ViewBag.Character.playablecharactername </h1>

<img src="@ViewBag.Character.speciesimage" style="height:450px; width:300px;" />

<h3>Species: @ViewBag.Character.speciestype</h3>

<br />

<p>HP: @ViewBag.Character.playablecharacterhp</p>

<p>Attack: @ViewBag.Character.playablecharacterattack</p>