@{
    ViewData["Title"] = ViewBag.Character.nonplayablecharactername;
}

<div class="text-center">
    <h1>@ViewBag.Character.nonplayablecharactername</h1>

    <hr />

    <img src="@ViewBag.Character.speciesimage" class="character-img" />

    <h2>Species: @ViewBag.Character.speciestype</h2>

    <p>HP: @ViewBag.Character.nonplayablecharacterhp</p>

    <p>Attack: @ViewBag.Character.nonplayablecharacterattack</p>
</div>

