@{
    ViewData["Title"] = ViewBag.Character.nonplayablecharactername;
}

<h1>@ViewBag.Character.nonplayablecharactername</h1>

<img src="@ViewBag.Character.speciesimage" style="height:450px; width:300px;" />

<h2>Species: @ViewBag.Character.speciestype</h2>

<p>HP: @ViewBag.Character.nonplayablecharacterhp</p>

<p>Attack: @ViewBag.Character.nonplayablecharacterattack</p>